In [3]:
import pandas as pd

In [23]:
df = pd.read_csv("C:/Users/a1048554/Desktop/Python/data1.csv", index_col=0)
df.head()

     sex  age  ages medicine  losing_weight
ID
1   male   28    30        A              1
2   male   31    30        A              1
3   male   31    30        B              0
4   male   33    30        A              1
5   male   34    30        B              1

In [25]:
# 全体の平均
df["losing_weight"].mean()

3.03

In [27]:
# Aだけの値抽出
df[df["medicine"] =="A"]

       sex  age  ages medicine  losing_weight
ID
1     male   28    30        A              1
2     male   31    30        A              1
4     male   33    30        A              1
6     male   40    40        A              1
10    male   36    40        A              0
11    male   35    40        A              1
13    male   34    30        A              0
14    male   23    20        A              1
17    male   45    40        A              1
18    male   36    40        A              1
19    male   33    30        A             -1
20    male   41    40        A              0
21    male   35    40        A              0
22    male   37    40        A              0
27    male   49    50        A              0
28    male   34    30        A              0
30    male   38    40        A              1
31    male   33    30        A              2
34    male   37    40        A              1
35    male   29    30        A              1
37    male   31    30        A              3
38    male   37    40        A              2
39    male   33    30        A              0
41  female   31    30        A              6
45  female   41    40        A              5
47  female   31    30        A              6
48  female   40    40        A              4
52  female   38    40        A              5
55  female   38    40        A              5
57  female   35    40        A              5
58  female   37    40        A              3
59  female   34    30        A              4
60  female   40    40        A              5
62  female   37    40        A              5
66  female   41    40        A              4
70  female   33    30        A              4
73  female   26    30        A              4
76  female   33    30        A              5
79  female   36    40        A              5
81  female   31    30        A              5
82  female   35    40        A              4
84  female   40    40        A              3
86  female   44    40        A              5
87  female   33    30        A              5
88  female   41    40        A              4
90  female   38    40        A              5
91  female   35    40        A              5
92  female   27    30        A              4
93  female   35    40        A              5
95  female   36    40        A              4
98  female   25    20        A              4
99  female   20    20        A              3